<!DOCTYPE HTML>
<html>
<h1>hai welcome to portal</h1>
<a href="{% url 'uploadfdpcf' %}">Uploadfdpcf</a><br>
<a href="{% url 'uploadfdpaf' %}">Uploadfdpaf</a><br>
<a href="{% url 'uploadfod' %}">Uploadfod</a><br>
<a href="{% url 'downloadfdpcf' %}">Downloaffdpcf</a><br>
<a href="{% url 'downloadfdpaf' %}">Downloadfdpaf</a><br>
<a href="{% url 'downloadfod' %}">Downloadfod</a><br>
<a href="{% url 'deletefdpcf' %}">Deletefdpcf</a><br>
<a href="{% url 'deletefdpaf' %}">Deletefdpaf</a><br>
<a href="{% url 'deletefod' %}">Deletefod</a><br>
<a href="{% url 'upload_nptel' %}">upload_nptel</a><br>
</html>